/* Sidebar stays fixed */
.navbar-container {
    position: sticky;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid var(--color1);
    background-color: var(--color1);
    z-index: 10;
}

/* profile section */
.main-layout .profile-layout {
    display: flex;
    justify-content: center;
    justify-items: center
}

/* Center feed section */
.feed-section {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 270px;
    margin-right: 300px;
    padding: 22px;
}

/* Right side section */
.users-section {
    width: 300px;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--clr-bg);
}