/* Sidebar stays fixed */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid var(--color1);
    background-color: var(--color1);
}

/* Main content area shifts right to make space for sidebar */
.main-layout {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    min-height: 100vh;

}

/* Optional: center your main feed content */
/* .main-layout>* {
    width: 500px;
    max-width: 90vw;
} */