.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: var(--color1);
    border-right: 1px solid var(--color5);
    width: 250px;
    padding: 20px 16px;

    position: fixed;
    left: 0;
    top: 0;
}

.logo-text {
    margin-left: 10px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color2);
    text-decoration: none;
}

.navbar-list {
    list-style: none;
    padding: 16px 0;
    margin: 0;
    width: 100%;
}

.navbar-list a {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 1rem;

    text-decoration: none;
    color: var(--color2);
    font-weight: 600;

    padding: 10px 10px;
    margin: 0 0 12px 0;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.navbar-list a:hover {
    background-color: var(--color5);
    transform: scale(1.02);
}

ul .profile-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
}