.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background: var(--color1);
    border-radius: 0;
    max-width: 935px;

    padding: 20px;
}

.profile-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;

}

.profile-details h1,
.profile-details h2 {
    margin: 0;
}

.profile-name {
    font-size: 1.8rem;
    font-weight: 300;
}

/* stats */
.profile-stats {
    display: flex;
    gap: 40px;
    font-size: 1rem;
    margin-top: 10px;
    justify-content: center;
}

.profile-stats span {
    display: flex;
    gap: 5px;
    color: var(--color2);
}

.profile-description {
    color: var(--color2);
    font-size: 1rem;
    max-width: 600px;
}

/*Gallery section*/
.profile-gallery {
    width: 100%;
    margin-top: 40px;
}

/*  Gallery Tabs */
.gallery-tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 0;
    padding-top: 10px;
    border-bottom: 2px solid var(--color5);
}


.gallery-tabs button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color2);
    cursor: pointer;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-bottom 0.2s;
}

.gallery-tabs button.active {
    color: var(--color2);
    border-bottom: 2px solid var(--color2);
}

/*Gallery Content*/
.gallery-content {
    min-height: 200px;
    padding: 0;
    text-align: center;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 2px;
    width: 100%;
}

.post-item {
    width: 100%;
    aspect-ratio: 1.5 / 2.5;
    /* keeps them square */
    overflow: hidden;
}

.post-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}