/* ------------------------------------
 1. Header Styling (Name, Time, Follow)
   ------------------------------------
 */
.story-card-container .header-container {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 14px;
    gap: 10px;
}

.profile-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    outline: 1px solid #ccc;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.name {
    font-weight: 600;
    color: var(--color2);
    margin-right: 8px;
}

.time {
    font-size: 12px;
    color: var(--color2);
    font-weight: 400;
    margin-right: auto;
}

.header-container {
    background: none;
    border: none;
    color: var(--second-color1);

    font-weight: 600;
    cursor: pointer;
    padding: 0;

    outline: none;
    transition: opacity 0.1s;
}

/* ------------------------------
    2. Image/Content Styling
   ------------------------------
*/

.img-container {
    width: 100%;
    aspect-ratio: 4/5;
    overflow: hidden;
    background-color: var(--color1);
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the area gracefully */
    display: block;
}

/* --------------------------------
     3. Action Buttons Styling
   --------------------------------
 */
.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 0px;
}

.button-container button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 4px 0;
    color: var(--color2);
    transition: transform 0.1s;
}

.button-container button:nth-child(3) {
    margin-left: auto;
}

/* ---------------------------------
    4. Likes & Comments Area Styling
   ------------------------------------
*/
.like-span {
    padding: 0;
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--color2);
}

.likes-count {
    font-weight: 600;
    /* Highlight the number of likes */
}

/* The div that contains the comments input */
.comment-area {
    padding: 0 0 10px 0;
}

.comments-container {
    /* This is where existing comments would be rendered */
    min-height: 20px;
}

.comment-area>div {
    /* Separator between content and comment input */
    border-top: 1px solid #efefef;
    padding-top: 10px;
    margin-top: 10px;
}

.comment {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px 0;
    color: var(--color2);
}

.comment::placeholder {
    color: var(--color3);
}

.story-txt {
    margin: 8px 0 0 0;
    color: var(--color2);
    font-size: 1rem;
    margin-bottom: 10px;
}

.story-caption {
    margin-bottom: 8px;
    color: #262626;
    font-size: 1rem;
}