:root {
    /*main color*/
    --color1: #ffffff;
    --color2: #262626;
    --color3: #8e8e8e;
    --color4: #262626;
    --color5: #dbdbdb;

    /*second color*/
    --second-color1: #0095f6;
    --second-color2: #00376b;
    --second-color3: #4a5df9;
}